.dateInput {
  height: 5vh;
  width: 175px;
  margin: 1em;
  font-size: 12px;
  text-align: center;
  &:hover{
    cursor: pointer;
    padding: 4px;
    transition: 0.5s;
  }
}

#selectLine {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 650px) {
  #selectLine {
    flex-direction: column;
  }
}