#auth {
  padding-top: 5vh;
  /* display: flex; */
  /* flex-direction: row; */

  #logo {
    align-self: center;
    width: 20%;
  }

  h1 {
    font-family: 'Noto Serif TC', serif;
    text-align: center;
    font-size: 40px;
  }

  #authForm {
    background-color: white;
    border: 3px solid grey;
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding: 1em;

    label {
      padding-top: 2em;
      padding-bottom: 0.5em;
      font-family: 'Noto Serif TC', serif;
      font-size: 18px;
    }

    input {
      font-size: 25px;
      height: 5vh;
      border-radius: 8px;
      border: 2px solid grey;
    }

    #role {
      text-align: center;
    }

    select {
      height: 5vh;
      border: 2px solid grey;
      font-family: 'Noto Serif TC', serif;
      font-size: 18px;
    }

    button {
      margin-top: 2em;
      margin-bottom: 2em;
      padding: 1em;
      border: 2px solid grey;
      font-size: 18px;
      font-family: 'Noto Serif TC', serif;
      background-color: #f96a54;
      font-weight: 900;
      &:hover {
        background-color: #7fbbe0;
        cursor: pointer;
      }
    }
  }

  #switchUserType {
    text-align: center;

    h3 {
      font-family: 'Noto Serif TC', serif;
      font-size: 18px;
    }
    button {
      height: 10vh;
      margin-bottom: 2em;
      font-size: 18px;
      border: 2px solid grey;
      background-color: #7fbbe0;
      font-family: 'Noto Serif TC', serif;
      font-weight: 900;
      &:hover {
        background-color: #f96a54;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 651px) {
  #auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    #authForm {
      align-self: center;
      width: 500px;
    }
  }
}
