.schedulerForm {
  padding: 15px;
  width: 50%;
  margin: 15px;
  display: flex;
  flex-direction: column;

  button {
    height: 35px;
    width: 160px;
    align-self: center;
    font-size: 15px;
    background-color: #f96a54;
    &:hover {
      background-color: #7fbbe0;
      cursor: pointer;
    }
  }
}

@media (max-width: 700px) {
  .schedulerForm {
    width: 100%;
  }
}
