button {
  background-color: #f96a54;
  border: 1px solid gray;
  border-radius: 8px;
  font-family: 'Noto Serif TC', serif;
  font-size: 12px;
  &:hover {
    cursor: pointer;
  }
}

td {
  margin-left: 20px;
  font-family: 'Noto Serif TC', serif;
  border: 15px solid white;
}