#profileHeader {
  font-family: 'Noto Serif TC', serif;
  text-align: center;
  font-size: 40px;
}
#profileBody {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  border: 4px solid grey;
  margin: 3em;
  padding: 1em;
  border-radius: 8px;
  #profileForm {
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 50%;
    label {
      padding-top: 2em;
      padding-bottom: 0.5em;
      font-family: 'Noto Serif TC', serif;
      font-size: 18px;
    }

    input {
      height: 35px;
      margin-bottom: 4px;
      border: 2px solid grey;
      border-radius: 8px;
      font-size: 18px;
    }

    textarea {
      height: 100px;
      border: 2px solid grey;
      border-radius: 8px;
      font-size: 18px;
    }

    select {
      height: 40px;
      font-size: 18px;
      border-radius: 8px;
      border: 2px solid grey;
      background-color: white;
    }

    #addChildButton {
      width: 100%;
      align-self: center;
      border-radius: 8px;
      border: 2px solid grey;
      font-size: 18px;
      font-family: 'Noto Serif TC', serif;
      background-color: #7fbbe0;
    }

    #submitButton {
      margin-top: 2em;
      margin-bottom: 2em;
      padding: 0.5em;
      border-radius: 8px;
      border: 2px solid grey;
      font-size: 18px;
      font-family: 'Noto Serif TC', serif;
      background-color: #f96a54;
      font-weight: 900;
      &:hover {
        background-color: #7fbbe0;
        cursor: pointer;
      }
    }
  }

  #doubleBorder1 {
    border: 4px solid black;
    padding: 2px;
    border-radius: 8px;
    background-color: #7fbbe0;
    #doubleBorder2 {
      background-color: #edf9ff;
      border: 4px solid black;
      padding: 10px;
      border-radius: 8px;
    }
  }

  #profileView {
    width: 50%;
    border-radius: 15px;
    padding: 5px;
    font-family: 'Noto Serif TC', serif;
    #addedChildren {
      display: flex;
      flex-direction: row;
      align-items: center;

      #removeChildButton {
        background-color: #f96a54;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        margin-left: 0.5em;
        padding-top: 0.10em;
        padding-bottom: 0.10em;
        border-radius: 8px;
        border: 2px solid grey;
        font-size: 12px;
        font-family: 'Noto Serif TC', serif;
        background-color: #f96a54;
      }

      li {
        font-weight: 600;
        font-family: 'Noto Serif TC', serif;
        list-style: none;
      }
    }


    #profileHeader {

      h1 {
        font-size: 35px;
        text-align: center;
      }
      img {
        border-radius: 15px;
        width: 25%;
      }
    }

  }
}

@media(max-width: 750px) {
  #profileView {
    display: none;
  }

  #profileBody {
    padding: 0px;
    #profileForm {
      display: flex;
      flex-direction: column;
      width: 100%;

      input {
        width: 100%;
        padding: 0px;
      }
    }
  }
}