#appointmentDetailBody {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border: 4px solid grey;
  margin: 3em;
  padding: 1em;
  border-radius: 8px;
  text-align: center;
  font-family: 'Noto Serif TC', serif;
}

#agesOfChildren {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#returnButton {
  background-color: #7fbbe0;
  height: 35px;
  font-size: 20px;
  font-family: 'Noto Serif TC', serif;
}
