#appointmentListBody {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 4px solid grey;
  margin: 3em;
  padding: 1em;
  border-radius: 8px;

  h1 {
    text-align: center;
    font-family: 'Noto Serif TC', serif;
  }

  ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  li {
    font-family: 'Noto Serif TC', serif;
    text-align: center;
  }

  p {
    font-family: 'Noto Serif TC', serif;
  }

}
