td {
  margin-left: 20px;
  font-family: 'Noto Serif TC', serif;
  border: 15px solid white;
}

#detailButton {
  background-color: #f96a54;
  font-family: 'Noto Serif TC', serif;
  color: white;
  font-size: 15px;
  opacity: 0.8;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}